@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Open+Sans:wght@600&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}
.link-decor {
    text-decoration: none;
    color: black;
}
.navbar {
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-bar {
    width: 70px;
    background: rgba(0, 0, 0, 0.0001);
    display: flex;
    justify-content: center;
    align-items: center;
}
.comp-name {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin-right:auto;
}
.menu-top {
    display: flex;
    margin-right: auto;
}
.logo {
    transition:transform  1s;
}
.logo:hover {
    transform: scale(1.2);
}
.menu-top-link {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin:0 20px;
}
.menu-top-link:hover {
    color:  #14B9D5;
}
.btn-search {
    width: 70px;
    height: 70px;
    background: black;
    border:1px solid black;
    cursor: pointer;
}
.header-banner {
    height: 100%;
    background: url("../img/header-bg.jpeg") no-repeat fixed center;
    background-size: cover;
    display: flex;
    padding-top: 163px;
    padding-bottom: 74px;
    justify-content: center;
    align-items: center;
}
.main-title {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.main-banner>.main-title::after {
    content: "";
    display: block;
    border-bottom: 3px solid #18B4CF ;
    width: 60px;
    margin: 87px auto auto;
}
.btn-bar {
    display: flex;
    justify-content: center;
}
.btn {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 16px 19px;
    border-radius: 5%;
    margin: 44px 20px 0;
    width: 170px;
    height: 55px;
}
.btn-left {
    background: #89CA62;
}
.btn-right {
    background: #14B9D5;
    text-align: center;
}
.secondary-title {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    padding-bottom: 52px;
}
.popular-posts {
    background: #F2F2F2;
    padding-top: 49px;
}
.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.posts {
    height: 850px;
    display: flex;
    flex-flow: column wrap;
}
.title-img {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin: 20px;
    text-align: center;
}
.posts-list {
    background: #ffffff;
    margin: 0 30px 30px 0;
}
.main-banner {
    height: 588px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 106px;
    padding-bottom: 191px;
    justify-content: space-between;
    background: url("../img/parallax-bg.jpeg") no-repeat fixed center;
    background-size: cover;
}
.popular-clients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
}
.clients {
    margin: auto;
}
.top-rates {
    margin-top: 51px;
}
.top-rates-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-bottom: 48px;
}
.top-rates-img>img {
    width: 100%;
}
.hot-news-bar {
    display:grid ;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

}
.hot-news-bar>div {
    background: #F9F7F7;
}
.news-description {
    margin-top: 27px;
}
.news1 {
    grid-column: span 3;
    display: flex;
}
.news2 {
    grid-area: 1 / 4 / 2 / 5;
}
.news3 {
    grid-area: 2 / 1 / 3 / 3;
    margin-right: 15px;
}
.news4 {
    grid-area: 2 / 3 / 3 / 5;
    margin-left: 15px;

}
.news5 {
    grid-area: 3 / 1 / 4 / 3;
    margin-right: 15px;
}
.news6 {
    grid-area: 3 / 3 / 4 / 5;
    margin-left: 15px;
}
.news7 {
    grid-area: 4 / 1 / 5 / 2;
}
.news8 {
    grid-area: 4 / 2 / 5 / 5;
    display: flex;
}
.title-news {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: end;
    padding: 14px 38px;
}
.p-news {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin: 14px;
    text-align: end;
}
.img-news {

}
.footer-bar {
    background: #000000;
    display: flex;
    align-items:center ;
    justify-content: space-around;
    padding: 0 250px;
    margin-top: 70px;
}
.footer-copyright {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    margin: 30px 0;
}
.logo-footer {
    margin-left: auto;
}
.hot-news-bar>div:hover {
    background: #C5ECF3;
    box-shadow: 0 0 10px rgba(24,180,207,0.5);
}
.posts-list:hover {
    background: #C5ECF3;
    box-shadow: 0 0 10px rgba(24,180,207,0.5);
}
.change-style{
    position: fixed;
    top: 100px;
    right: 40px;
    z-index: 999;
    width: 164px;
    height: 40px;
    font-size: 16px;
    background-color: #AFEEEE;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}


