.form__block {
		padding: 16px;
// 		border: 2px solid #4f595c;
// 		border-radius: 4px;
		box-sizing: border-box;

		&:not(:last-child) {
			margin-bottom: 32px;
		}

		.form__item {
			display: block;
			width: 100%;

		}

		.form__label {
			text-align: left;
		}
		.form__control {
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
		}


	}




    button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }