.favoriteCard {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  align-items: center;
}

.favoriteCard__img img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.favoriteCard__content {
  flex: 1;
}

.favoriteCard__title {
  font-size: 20px;

}

.favoriteCard__color {
  color: #888;
}

.favoriteCard__article {
  color: #888;
}

.favoriteCard__price {
  font-size: 20px;

  color: #ff5733;
}

.favoriteCard__button-add {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  margin-left: 10px;
  border-radius:5px

}

.favoriteCard__button-add:hover {
  background-color: #0056b3;
}

.removeFromFavorite {
  margin-right: 10px;
  cursor: pointer;
}
