.container{
  width:1240px;
  margin:0 auto;
}
.main {
  margin: 20px auto;
  min-height: 79vh;
}
.section__title{
  font-weight: bold;
  font-size: 32px

}
.section__title::before{
  content: '';
  background-color: #8A33FD;
  display: inline-block;
  width: 5px;
  height: 30px;
  margin-right: 5px;
  border-radius: 3px;
}