.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  outline: none;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}

.modal-box {
  display: flex;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //max-width: 80%;
  //width: 100%;
  //padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;

  &__img {
    width: 700px;
    height: 700px;
  }

  &__user-container {
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    width: 400px;
    justify-content: flex-start;
  }

  &__user-container > svg {
    margin-left: auto;
    cursor: pointer;
  }

  &__author-avatar > img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .modal__author-name {
    font-weight: bold;

  }

  .modal__comments-wrapper {
    height: 420px;
    overflow: auto;
    border-bottom: 1px solid #ccc;

    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .modal__comments-wrapper::-webkit-scrollbar {
    display: none;
  }
.modal__liked-wrapper{
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;

}

.modal__liked-avatar>img {
  width: 25px;
  height: 25px;
  border-radius: 50%;

}
  .modal__liked-wrapper>p{
    margin: 0 15px;
  }
  .modal__liked-wrapper>p:last-child{
    font-weight: bold;
  }

}