.card{
    position: relative;
    background-color:#f0f0f0;


}
.card__image{
    width: 100%;
}


.card__content, .card__info{
display:flex;
justify-content: space-between;
padding :10px
}

.card__favorite{
position: absolute;
top: 20px;
right:10px;
cursor:pointer;

}
.card__button-add{
font-size: 10px;
}