.favorite__title{
    font-weight: bold;
    font-size: 32px

}
.favorite__title::before{
    content: '';
    background-color: #8A33FD;
    display: inline-block;
    width: 5px;
    height: 30px;
    margin-right: 5px;
    border-radius: 3px;
    }
.favoriteCards__wrapper{
margin: 0 180px
}