.modal__comment{
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  .modal__comment-avatar>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;

  }
}


