.header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 64px;
	width: 100%;
	transition: top 0.2s linear;


	.header__logo {
    		.logo {
    			display: block;
    			width: 154px;
    		}
    	}



	.header__actions {
	.header__actions-item{
    		text-decoration: none;
    		color: black;
    		margin: 20px;
    		font-weight: bold;
    		}
		.header__favorites-list {
			display: flex;
			align-items: center;
			font-size: 16px;
			margin-left: auto;
		}

	}

	.header__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.header__favorites-list {
			display: flex;
			align-items: center;
			font-size: 16px;


			.icon-favorite, .icon-basket {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 24px;
				margin-left: 20px;
				cursor:pointer;
				decoration: none;

				svg {
					width: 100%;
					fill: black;
				}

				.count-favorite, .count-basket {
					position: absolute;
					color: red;
					top: -5px;
					right: -5px;
					font-size: 10px;
				}
			}
		}