.burger-menu {
  &__list {
    display: flex;
    justify-content: space-between;
    padding: 45px 15%;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 11px;
    text-transform: uppercase;

    &:hover {
      color: #57A4A4
    }
  }

}

.header__img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .burger-menu {
    position: relative;

    &__list {
      flex-direction: column;
      background-color: #F5F5F5;
      width: 142px;
      padding: 0;
      position: absolute;
      right: 0;
      top: 61px;
      display: none;


    }

    &__link {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      &:hover {
        background-color: #E5E5E5;
      }

    }

    &__btn {
      width: 47px;
      height: 37px;
      background-color: $colorBlack;
      position: absolute;
      top: 23px;
      right: 0;

    }

    &__lines,
    &__lines::after,
    &__lines::before {
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: white;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    &__lines::after {
      content: '';
      top: 6px;
    }

    &__lines::before {
      content: '';
      top: -4px;
    }

    &__active &__lines {
      background-color: transparent;
    }
    &__active ~ &__list {
      display: block;
    }

    &__active &__lines::before {
      top: 0;
      transform: rotate(45deg);
      left: 10%;
    }

    &__active &__lines::after {
      top: 0;
      transform: rotate(-45deg);
      left: 10%;
    }


  }
  .header__img {
    margin-top: 83px;
  }
}

//----------------------------------------------------------------