.instagram {
  background-color: #F7F7F7;
  padding-bottom: 49px;
}

.instagram__titles {
  display: flex;
  justify-content: space-between;
  @include title;
  padding-top: 47px;
  padding-bottom: 24px;

  & > h5 {
    font-size: 13px;
  }

  &__image {
    width: 285px;
    height: 285px;
  }
}

@media screen and (max-width: 1199px) {
  .instagram__image:last-child {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .instagram__image:nth-last-child(2) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .instagram__image:nth-last-child(3) {
    display: none;
  }
  .instagram__titles > h5 {
    display: none;
  }
}