.recent-post {
  padding-bottom: 65px;
  padding-top: 65px;
  text-align: left;

  &__title {
    @include title;
  }

  &__card-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.post-card {
  display: flex;
  padding-top: 27px;

  &__img {
    width: 160px;
    height: 140px;
    margin: 0 20px 20px 0;
  }


  &__title {
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0;
  }

  &__comment {
    color: #7C7C7C;
    font-size: 12px;

  }

  &__description {
    color: #5C5C5C;
    font-size: 14px;
    padding-top: 13px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 1199px) {
  .recent-post__card-wrap {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .post-card {
    flex-direction: column;

    &__description {
      display: none;
    }
  }

}