@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "reset";
@import "mixin-variable";

body {
  font-family: Roboto, sans-serif;
  max-height: 100%;
  color: #4E4E4E;
}

.wrapper {
  /*  width: 100%;*/

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 15px;
}
@import "header";
@import "recent-post";
@import "instagram";

.footer {
  background-color: $colorBlack;
;
  color: white;
  text-align: center;
  padding: 66px 0;

  &__title {
    @include title;
    padding-bottom: 22px;
  }

  &__text {
    font-size: 16px;
    color: #B9B9B9;

  }

  &__icons {
    padding: 35px 0;
  }

  &__icon {
    border: 2px solid;
    padding: 12px;
    border-radius: 50%;
  }

  &__contact {
    color: #B9B9B9;

  }
}

.rss {
  border-color: #F8902E;
}

.fb {
  padding: 12px 15px;
  border-color: #39599F;
}

.twitter {
  padding: 12px 14px;
  border-color: #45B0E3;
}

.dribb {
  border-color: #D97AB0;
}

.printerest {
  padding: 12px 13px;
  border-color: #CC212C;
}