@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.post-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  cursor: pointer;
}

.post-card img {
  width: 309px;
  height: 309px;
  transition: transform 0.3s;
}

.post-card:hover img {
  transform: scale(1.1);
}

.post-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s;
}

.post-card:hover .post-overlay {
  opacity: 1;
}

.post-icons {
  display: flex;
  align-items: center;
  color: white;
}

.post-icons i {
  margin: 0 5px;
  font-size: 20px;
}

.likes,
.comments {
  margin: 5px 0;
  font-size: 16px;
}
