.container {
    font-family: Montserrat, serif;
    background: white;
    width: 1280px;
    left: calc(50% - 1280px/2);
    }
ul {
    text-align: center;
}
li {
    display: inline;
}
.navbar {
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    margin:25px 72px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 3px;
}
h2 {
    margin: 48px 253px 38px 253px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    }
.content-text {
    text-align: center;
    margin: 28px 67px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #373737;
}
.button {
    width: 191px;
    height: 51px;
    left: 545px;
    top: 557px;
    background: #FF0000;
    border-radius: 4px;
    text-transform: uppercase;
    display:block;
    margin: 66px 545px 42px 545px;
}
.button-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 3px;
    color: #373737;
    text-align: right;
}