@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
*, *:before, *:after {
    box-sizing: border-box;
}
.bg-img {
    background: url("../img/starry-sky-stars-dots-black.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #ff6;
}
.content {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(20deg);
}
.content:after{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    pointer-events: none;
}
.content-text p {
    margin: 0.8em 0;
}
.title {
    text-align: center;
}
.content-text {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 1s infinite;
}
@keyframes scroll {
    0% { top: 100%; }
    100% { top: 0; }
}