.wrapper{
    font-size: 12px;
}
.container{
    margin: 0 auto;
    max-width: 600px;
    padding-top: 40px;
}
.post-card:hover{
    background-color: #f2f2f2;
}
.post-card{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 5px auto;
}
.post-card__header{
    display: flex;

}
.post-card__user-name{
    font-weight: bold;
    font-size: 14px;
}
.post-card__user-email{
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    color: #8a97a0;

}
.post-card__delete-btn{
    margin-left: auto;
    margin-right: -5px;
    margin-top: -6px;
}

.post-card__title{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px
}
.post-card__text{
    padding-top: 8px;
    line-height: 16px;
}