@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Open+Sans:wght@600&family=Roboto&family=Ubuntu&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}
.container {
    background: url("../img/bg-img.png") no-repeat;
    background-size: cover;
    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: normal;
}
.navbar {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 79px;
}
.title {
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}
.title:hover {
    color: #236D47;
}
.icon-bar {
    margin-left: auto;
}
.icon {
    margin-right: 25px;
}
.icon:hover path{
    fill:#236D47;
}
.log-sing {
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #FFFFFF;
    border-left: 2px solid #4e4e4e;
    padding-left: 27px;
}
.authorization,
.icon {
    text-decoration: none;
    color: #FFFFFF;
}
.authorization:hover {
    color: #236D47
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sing-up {
    background: white;
    width: 444px;
    padding: 31px 61px 38px;
    position: relative;
}
.sing-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sing-login::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    left: 0;
    position: absolute;
}
.title-sing {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.link_line {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}
.link_line:hover {
    color: #01813F;
    text-decoration: underline;
}
.button-section {
    display: flex;
    justify-content: space-between;
}
.btn {
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 159px;
    height: 48px;
    margin-top: 15px;
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.btn-facebook {
    background: #305DB8;
    padding-right: 20px;
}
.btn-google {
    background: #DF4A32;
    padding-right: 30px;
}
.fa-facebook-f{
    font-size: 28px;
    padding: 0 16px;
}
.fa-google-plus-g{
    font-size: 28px;
    padding: 0 7px;
}
.fa-facebook-f,
.fa-google-plus-g{
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.btn-facebook:hover {
    background: #022263;
}
.btn-google:hover {
    background: #AB1F09;
}
.line {
    position: relative;
    display: flex;
    justify-content: center;
    height: 14px;
}
.line>p {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
    background-color: white;
    position: absolute;
    padding: 0 3px;
}
.line::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #F2F2F2;
    position: absolute;
    top: calc(50% + 1px);
}
.registration {
    width: 100%;
}
.input::placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.input {
    margin: 15px 0 0;
    width: 100%;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 20px;
    outline: none;
}
.input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.label-checkbox {
    display: flex;
    padding-top: 12px;
}
.label-checkbox>span {
    margin-right: 8px;
}
.checkbox {
    display: none;
}
.new-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
}
.new-checkbox::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 2px;
    background: url("../img/Vector 1.png")no-repeat;
    opacity: 0;
}
.checkbox:checked + .new-checkbox::before {
    opacity: 1;
}
.submit {
    cursor: pointer;
    border:none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 100%;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    margin-top: 20px;
}
.submit:hover {
    background: #01813F;
}
