.user-profile {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 953px;

  &__avatar > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

  }

  &__wrapNick {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
  }

  &__wrapNick > svg {
    cursor: pointer;
  }
  &__wrapNick > button {
    cursor: pointer;

  }

  &__nickname {
    font-size: 36px;
  }

  &__list-count {
    display: flex;
  }

  &__list-count > li {
    font-size: 18px;
    margin-right: 40px;
    margin-bottom: 20px;

  }

  &__realName {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
  }

  &__userFollows {
    color: grey;
    display: inline-flex;
  }
  &__userFollows >p:last-child {
    margin-left: 5px;
    color: black;
    font-weight: bold;

  }


}

.user-post {


  &__header {
    border-top: 1px solid #ccc;
    display: flex;

  }

  &__allPublic {
    text-decoration: none;
    color: #0a0a0a;
    font-size: 20px;
    margin: 10px auto;
  }
  &__wrapper{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }


}