.comment-author {
  text-decoration: none;
  float: left;
  color: black;
  font-weight: bold;
  margin-right: 10px;
}
.comment-text{
  margin-left: 10px;
  line-height: 20px;


}
//.comment-wrap{
//  display: flex;
//  align-items: center;
//
//}