@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}
.container {
    width: 1280px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    margin: 63px 0 30px calc(50% - 1280px / 2);
}
.logo {
    width: 334px;
    height: 79px;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}
.logo-end {
    color: #4BCAFF;
}
.logo-link {
    text-decoration: none;
    color: #000000;
}
.menu-top {
    width: 1280px;
    height: 72px;
    background: #35444F;

}
.menu-top-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-left: 133px;
    margin-right: 162px;
}
.menu-top-item {
    border-left: 1px solid #FFFFFF;
    height: 100%;

}
.menu-top-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 34px;
}
.menu-top-item:last-child {
    border-right: 1px solid #FFFFFF;
}
.main {
    display: flex;
    padding-top: 48px;
}
.menu-left-list {
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    list-style-type: none;
    margin:0 52px 0 0;
    padding-left: 0;
}
.menu-left-link {
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #485863;
    padding: 26px 0 26px 44px;
}
.img-content {
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
}
.img {
    transition:transform  1s;
}
.img:hover {
    transform: scale(1.2);
}
.content-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 34px;
    margin-bottom: 0;
}
.menu-bottom {
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}
.menu-bottom-list {
    width: 875px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin:0 40px;
}
.menu-bottom-link {
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.bottom-copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    width: 190px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}
.menu-bottom-link:hover {
    color: #3181A6;
    padding-bottom: 7px;
    border-bottom: 1px solid #3181A6;
}
.menu-top-item:hover {
    background: #222F3A;
}
.menu-left-link:hover {
    color: black;
    padding-left: 69px;
    background: #DBDBDB;
}