.productSection__title{
    font-weight: bold;
    font-size: 32px

}
.productSection__title::before{
    content: '';
    background-color: #8A33FD;
    display: inline-block;
    width: 5px;
    height: 30px;
    margin-right: 5px;
    border-radius: 3px;
    }


.cards__wrapper{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;
    width: 100%;

}

