.following{

  margin: 10px 0;
  text-decoration: none;
  color:black;

  &__avatar>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }
  &__name{
    margin-left: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

}
.follow__wrap{
  display:flex;
  align-items: center;
}