@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Open+Sans:wght@600&family=Roboto&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}
.bg-img {
    background: url("../img/background1.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.f-f {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
}
.logo:hover .title{
    color: #F26522;
}
.logo:hover .title>span{
    color: #F26522;
}
.header {
    display: flex;
}
.logo:hover .logo-img {
    content: url("../img/logo 2.png");
}
.logo {
    display: flex;
    margin-top: 51px;
    margin-bottom: 26px;
    text-decoration: none;
}
.title {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 8px;
}
.title>span {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: block;
}
.contact-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-top: 49px;
}
.mail:hover{
    color: #F26522;
}
.tel:hover{
    color: #F26522;
}
.contact {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: end;
    margin-bottom: 19px;
}
.sight:hover .sight-title {
    color: #F26522;
}
.sight:hover .sight-details {
    bottom: 0;
}
.all-sight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    grid-column-gap: 61px;
    grid-row-gap: 37px;
}
.sight {
    width: 300px;
}
.sight-title {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 20px;
    text-decoration: none;
    display: block;
}

.sight-img {
    position: relative;
    overflow: hidden;
    height: 220px;
    border: 5px solid transparent;
    border-image: linear-gradient(225deg, rgb(255, 255, 255), rgb(0, 0, 0));
    border-image-slice: 1;

}
.sight-details {
    position: absolute;
    background: #F26522;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -55px;
    transition: 0.4s
}
.sight-cost {
    font-size: 10px;
    line-height: 10px;
    align-items: center;
    color: #FFFFFF;
    padding-left: 16px;
}

.sight-cost > span {

    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
    padding-top: 8px;
}

.view-details {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline;
    margin: 29px 21px 12px 0;

}

.view-details::after {
    content: "\003E";
    margin-left: 16px;
}

.copyright {
    font-size: 12px;
    line-height: 12px;
    text-align: center;

    margin-bottom: 15px;
    margin-top: 48px;
}
