.basketCards__wrapper{
margin: 0 180px
}

// .total__wrapper{
// // width: 100px;
// height: 100px;
// background-color: gray;
// position: fixed;
// right: 10%;
// }
.total__wrapper {
height: 100px;
right: 5%;
position: fixed;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.total__length {
  font-size: 20px;
}

.total__price {
  font-size: 20px;
  color: #ff5733;
}

.total__btn {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.total__btn:hover {
  background-color: #0056b3;
}