.form__item {
	&.has__validation {
		.form__control {
			border-color: #dc3545;

			&:hover, &:focus {
				border-color: #dc3545;
				box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
			}
		}

		.error__message {
			margin-top: 4px;
			text-align: left;
			color: #dc3545;
		}
	}
}