.button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Примеры стилей для разных цветов кнопок */
.button--red {
  background-color: red;
}

.button--blue {
  background-color: blue;
}
